<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.colorlife.orderman">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/order_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".Application.BaseApplication"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".Activity.login.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.login.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnspecified"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.login.RegisterActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.login.ForgetPassword"></activity>
        <activity android:name=".Activity.main.IndexActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.analysis.AnalysisActivity"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.cook.AddCook"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnspecified"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.orderManager.OrderManager"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnspecified"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.order.OrderWithDesk"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.order.NoDeskOrder"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnspecified"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.orderDetail.OrderDetail"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.setting.SettingIndex"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.cook.CookManager"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnspecified"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.desk.DeskManager"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.setting.UserSetting"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnspecified"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".Activity.desk.AddDesk"
            android:windowSoftInputMode="stateAlwaysHidden|stateUnspecified"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>
